<div>
    <h2>Low Stock Alerts</h2>
    <div>
        <% @low_stock_products.each do |product| %>
            <div class="low-stock_productItem">
                <strong>
                    <span>
                        <%= product.name %>
                    </span>
                </strong><br>
                Current Stock: <span class="low-stock_productAmount">
                    <%= product.stock_quantity %>
                </span> kg<br>
                <div class="tooltip">
                    <strong>Ingredients:</strong>
                    <ul>
                        <% product.ingredients.each do |ingredient| %>
                            <li>
                                <%= ingredient.product.name %> (Supplier: <%= ingredient.product.company.company_name %>
                                        )
                            </li>
                            <% end %>
                    </ul>
                </div>
            </div>
            <% end %>
    </div>
</div>