body {
  font-family: "Monaco", Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
}

.dashboard {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.dashboard-header {
  text-align: center;
  padding: 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  padding: 14px 30px;
  background: #fff;
}

.dashboard-header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.dashboard-content {
  margin: 20px auto;
  padding: 40px 70px;
  max-width: 1400px;
}

.widget-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.widget {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  margin: 0 10px;
  border-radius: 7px;
  text-align: center;
  min-width: 350px;
}

.large-widget {
  flex: 2;
  max-width: 772px !important;
}

.widget h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

/* inventory widget */
.inventory-widget h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  border-bottom: 2px solid #ececec;
  padding-bottom: 10px;
}

.inventory-widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.low-stock_productItem {
  border-radius: 10px;
  width: 100%;
  padding: 20px 0;
  margin: 20px 0;
  background: #ffffff;
  color: #000;
}

.low-stock_productAmount {
  color: #844949;
}

.product-item {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}

.product-item:last-child {
  border-bottom: none;
}

.product-name {
  font-size: 1.2em;
  color: #333;
}

.product-details {
  font-size: 0.9em;
  color: #666;
}

.product-stock {
  color: #e74c3c;
  font-weight: bold;
}

.product-reorder {
  color: #3498db;
  font-weight: bold;
}

.tooltip {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  margin-left: 10px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  white-space: nowrap;
}

.product-item:hover .tooltip {
  display: block;
}

.tooltip ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ingredients-results {
  overflow-y: scroll;
  height: 500px;
}

.ingredient-item {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.ingredient-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingredient-item div {
  margin: 2px 0;
}

.ingredient-item i {
  color: #555;
}

.ingredients {
  margin-left: 20px;
  padding-left: 10px;
  border-left: 1px solid #ddd;
  text-align: left;
}

#search-results {
  overflow: auto;
}

#search-results::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#search-results {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}


@media (max-width: 1200px) {
  .widget {
    width: 100%;
    max-width: none;
    min-width: auto;
    margin: 10px 0;
  }

  .large-widget {
    width: 100%;
    max-width: none !important;
  }

  .widget-row {
    flex-direction: column;
    align-items: center;
  }
}
